{% extends "website_app/includes/base.html" %}
{% block content %}
<div class="ui container">
  <!-- Inicio mapa -->
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
  <div id='map' style="width: 100% !important;height: 30em !important;"></div>
  <script>
    mapboxgl.accessToken =
      'pk.eyJ1IjoibmF5bHNvbmZzYSIsImEiOiJjanp2dGd0eXowMW4xM2hsZ2pkaHowdWtkIn0.wBsVgEtB34qVagCHzalIQg';
    var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [-37.323209, -5.206060], // starting position
      zoom: 4 // starting zoom
    });
    // var ponto = new mapboxgl.Marker({color:"#E8310A"}).setLngLat([-37.323209, -5.206060]).addTo(map);
    var lista_pontos = {{lista_js}}; // Interpolador Django
    console.log(lista_pontos)
    $(document).ready(function() {
      lista_pontos.forEach(element => {
        new mapboxgl.Marker().setLngLat(element).addTo(map);
      });

      $(".jogador").on("click", function(e) {
        // console.log(e.target.dataset.lng); .Marker({color:"#E8310A"})
        //ponto.setLngLat([e.target.dataset.lng,e.target.dataset.lat]);
        map.setCenter([e.target.dataset.lng, e.target.dataset.lat]);
        map.setZoom(18);
      })
    });
  </script>
  <!-- Fim mapa -->

  <a href="{% url 'core:website_app:Add_Jogador'%}" class="ui button blue">Cadastrar</a>
  <table class="ui single line table">
    <thead>
      <tr>
        <th>User</th>
        <th>Idade</th>
        <th>Status</th>
        <th>Localização</th>
        <th>Nível de Autismo</th>
        <th class="center aligned">Editar</th>
      </tr>
    </thead>
    <tbody>
      {% for item in jogadores %}
      <tr>
        <td>{{item.user.profile.nome|default:item.user}}</td>
        <td>{{item.user.profile.idade}} Anos</td>
        <td>
          {% if item.online %}
          Online
          {% else %}
          Offline
          {% endif %}
        </td>
        <td>
        {% if item.latitude %}
          <a class="jogador" href="#" data-lng="{{item.longitude}}" data-lat="{{item.latitude}}">{{item.latitude}}<br />{{item.longitude}}</a>
        {% endif %}
        </td>
        <td>{{ item.get_nivel_de_autismo_display|default:"Não classificado" }}</td>
        <td class="center aligned">
          <a href="{% url 'core:Update_profile' item.user.profile.pk %}" class="ui button blue">Editar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}