{% extends "html_base.html" %}
{% load i18n static %}
{% block css_page %}
<link rel="stylesheet" href="{% static 'core_app/css/lista.css' %}?{% now 'u' %}">
{% endblock %}
{% block content %}
<div class="ui container segment " style="margin-bottom:5em">
    <form class="ui form formulario " action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        {% if form.errors and not form.non_field_errors %}
        <p class="ui label">
            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {% endif %}

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="ui label">
            {{ error }}
        </p>
        {% endfor %}
        {% endif %}

        {% for field in form %}
        <div class="field">
            <label>{{ field.label_tag }} {{ field.errors }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <button class="ui fluid button blue" type="submit">Salvar</button>
    </form>
</div>
{% endblock %}