{% extends "html_base.html" %}
{% load i18n static %}

{% block content %}
<div class="ui raised very padded text container segment" style="margin-top:0.5em">
<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form method="post" class="ui form">{% csrf_token %}

    <div class="field">
        {{ form.email.errors }}
        <label for="id_email">{% trans 'Email address:' %}</label>
        {{ form.email }}
    </div>
    <div class="field">
        <button type="submit" class="ui button positive">{% trans 'Reset my password' %}</button>
    </div>

</form>
</div>
{% endblock %}
