{% extends "html_base.html" %}
{% load i18n static %}

{% block content %}
<div class="ui raised very padded text container segment" style="margin-top:2em">
{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form class="ui form" method="post">{% csrf_token %}

    <div class="field">

        {% if form.new_password1.errors %}
          <div class="ui pointing below red basic label">
            {{ form.new_password1.errors }}
          </div>
        {% endif %}

        <label for="id_new_password1">{% trans 'New password:' %}</label>
        {{ form.new_password1 }}
    </div>
    <div class="field">
        
        {% if form.new_password2.errors %}
          <div class="ui pointing below red basic label">
            {{ form.new_password2.errors }}
          </div>
        {% endif %}
        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
        {{ form.new_password2 }}
    </div>
    <div class="field">
        <button type="submit" class="ui button positive">{% trans 'Change my password' %}</button>
    </div>

</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
</div>
{% endblock %}
