<a class="item" href="{% url 'website_app:index' %}">Inicio</a>
{% if user.is_staff %}
<a class="item {{item_active_jogador}}" href="{% url 'website_app:Jogadores' %}">Jogadores</a>
<a class="item {{item_active_objeto_er}}" href="{% url 'website_app:Objeto_ers' %}">Objetos de Aprendizagem</a>
<a class="item {{item_active_objeto_er_map}}" href="{% url 'website_app:Objeto_er_maps' %}">Objetos no Mapa</a>
<a class="item">Estatísticas</a>
{% endif %}
{% if user.is_authenticated %}
<a class="item " href="{% url 'password_change' %}">Mudar senha</a>
<a class="item " href="{% url 'Update_profile' user.id %}">Meu perfil</a>
<a class="right menu item" href="{% url 'logout' %}">Sair</a>
{% else %}
<a class="right menu item" href="{% url 'core_app:login' %}">Entrar</a>
{% endif %}